/* page.module.css */
.imageBox {
  position: relative; /* important for next/image fill */
  width: 100%;
  height: 580px; /* or any height you want */
  object-fit: fill;
}
.imageBox .userImage {
  width: unset !important;
  left: unset !important;
}

.heroSection {
  height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(135deg, #000000 0%, #1A0E05 50%, #782f06 100%); */
}

.imageBox::after {
  content: "";
  background: url('/app-images/bg.png') center/contain  no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top:0;
  right: 0;
  position: absolute;
  z-index: 1;

}
