.heroSection {
  overflow: hidden;
  /* background: linear-gradient(100deg, #000000 100%,  #782f06 100%); */
  background-color: black;
  z-index: 0;
  position: relative;
}

.imageBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroSection::after {
  content: "";
  background: url("/app-images/bg.png") center/cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.imageBox::before {
  content: "";
  background: url("/app-images/circle2.png") center/contain no-repeat;
  width: 569px;
  height: 437px;
  position: absolute;
  top: 159px;
  left: -20px;
}

/* Cartoon image behind the circle */
.cartoonImage {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: auto;
  position: absolute;
  top: 150px;
  left: -10px;
}

.orbit {
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  top: 133px;
  left: -40px;
  animation: rotateOrbit 20s linear infinite;
  z-index: 3; /* above cartoon */
}

.logo {
  position: absolute;
  width: 65px;
  height: 65px;
}

/* Position logos manually around the circle */
.logo:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.logo:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.logo:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.logo:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.logo:nth-child(5) {
  top: 10%;
  left: 10%;
} /* adjust as needed */

/* Orbit animation */
@keyframes rotateOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .logo {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
} */

.aboutSection , .skillsSection {
  /* background: linear-gradient(135deg, var(--color-grey-dark) 0%, var(--color-dark) 100%); */
  background-color: var(--color-dark);
  position: relative;
}
.aboutSection::before,
.heroSection::before , .skillsSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: radial-gradient(circle at 20% 80%, var(--color-primary) 0%, transparent 50%),
              radial-gradient(circle at 80% 20%, var(--color-accent-cyan) 0%, transparent 50%); 
              */
  background: radial-gradient(
      circle at 20% 80%,
      var(--color-dark) 0%,
      transparent 50%
    ),
    radial-gradient(circle at 80% 20%, var(--color-primary) 0%, transparent 50%);
  opacity: 0.1;
  z-index: 1;
}
